.container {
  width: 100%;
  max-width: 1440px;
  line-height: 90px;
  height: 450px;
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.row {
  color: white;
}

.footer {
  width: 100%;
  background-color: black;
}
